<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>
    <link rel="stylesheet" href="../css/index_style.css">
</head>
<body>    
    <div class="container">
        <header class="header">
            <nav class="nav">
                <ul class="nav_list">
                    <li class="nav_item"><a class= "nav_link_active" href="#home">Home</a></li>
                    <li class="nav_item"><a class= "nav_link" href="#aboutme">About Me</a></li>
                    <li class="nav_item"><a class= "nav_link" href="#skills">Skills</a></li>
                    <li class="nav_item"><a class= "nav_link" href="#portfolio">Portfolio</a></li>
                    <li class="nav_item"><a class= "nav_link" href="#contacts">Contacts</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="home">
                <h1 class="h1">Denis Novik</h1>
                <a href="../images/home.jpg" target="_blank"><img class="home_img" src="../images/home.jpg" alt="Home"></a>
            </section>
            <section class="about_me" id="aboutme">
                <div class="about_me_class">
                    <h2 class="title">About me</h2>
                    <div class="about_me_info">
                        <p>Hi, I'm Denis – UX/UI designer from Minsk. I'm&nbsp;interested in design and everything connected with it.</p>
                        <p>I'm studying at courses "Web and mobile design interfaces" in IT-Academy.</p>
                        <p>Ready to implement excellent projects with&nbsp;wonderful&nbsp;people.</p>
                    </div>
                </div>
            </section>
            <section class="skills" id="skills">
                <h2 class="title">Skills</h2>
                <p class="skills_paragraph">
                    I work in such programs as
                </p>
                <section class="my_skills">
                    <figure class="img">
                        <a href="../images/skills1.png" target="_blank"><img class="img1" src="../images/skills1.png" alt="Skills1"></a>
                        <figcaption class="figcaption"><p class="par">Adobe</p><p class="par">Photoshop</p></figcaption>
                    </figure>
                    <figure class="img">
                        <a href="../images/skills2.png" target="_blank"><img class="img1" src="../images/skills2.png" alt="Skills2"></a>
                        <figcaption class="figcaption"><p class="par">Adobe</p><p class="par">Illustrator</p></figcaption>
                    </figure> 
                    <figure class="img">
                        <a href="../images/skills3.png" target="_blank"><img class="img1" src="../images/skills3.png" alt="Skills3"></a>
                        <figcaption class="figcaption"><p class="par">Adobe</p><p class="par">After Effects</p></figcaption>
                    </figure>
                    <figure class="img">
                        <a href="../images/skills4.gif" target="_blank"><img class="img2" src="../images/skills4.gif" alt="Skills4"></a>
                        <figcaption class="figcaption"><p class="par">Figma</p><p class="par1">Figma</p></figcaption>
                    </figure>
                </section>
                <section class="stars">
                    <figure class="img">
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star2.svg" alt="stars2">                        
                    </figure>
                    <figure class="img">
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star2.svg" alt="stars2">&nbsp;
                        <img class="img1" src="../images/Star2.svg" alt="stars2">                        
                    </figure>
                    <figure class="img">
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star2.svg" alt="stars2">                        
                    </figure>
                    <figure class="img">
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star1.svg" alt="stars1">&nbsp;
                        <img class="img1" src="../images/Star2.svg" alt="stars2">                        
                    </figure>
                </section>               
            </section>
            <section class="portfolio1" id="portfolio1">
                <h2 class="title">Portfolio</h2>
                <figure class="img2">
                    <a href="../images/portfolio.jpg" target="_blank"><img class="img1" src="../images/portfolio.jpg" alt="portfolio1"></a>
                    <figcaption class="figcaption1"><p class="par">Online fashion store - </p><p class="par">Homepage</p></figcaption>
                </figure>
            </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <section class="portfolio2" id="portfolio2">
                <figure class="img2">
                    <a href="../images/reebok.jpg" target="_blank"><img class="img1" src="../images/reebok.jpg" alt="portfolio2"></a>
                    <figcaption class="figcaption1">Reebok Store - Concept</figcaption>
                </figure>
            </section>  
            <section class="portfolio" id="portfolio3">
                <figure class="img2">
                    <a href="../images/web.jpg" target="_blank"><img class="img1" src="../images/web.jpg" alt="portfolio3"></a>
                    <figcaption class="figcaption1">Braun Landing Page - Concept</figcaption>
                </figure>
            </section>                         
        </main>
        <footer>
            <h2 class="title">Contacts</h2>
            <p class="par_footer">Want to know more or just chat?</p><p class="par_footer">You are welcome!</p>
            <button>Send massage</button>
            <section class="footer">
                <a class="img3" href="../images/12.jpg" target="_blank"><img class="img3" src="../images/12.jpg" alt="vector1"></a>
           </section>
        </footer>        
    </div>
</body>
</html>